adbc_driver_manager==1.1.0
adbc_driver_postgresql==1.1.0
adbc_driver_sqlite==1.1.0
AppKit==0.2.8
awscrt==0.21.2
backports.statistics==0.1.0
beautifulsoup4==4.12.3
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
checks==0.2
cryptography==43.0.0
cycler==0.12.1
Cython==3.0.10
dask==2024.7.1
docutils==0.16
fastparquet==2024.5.0
Foundation==0.1.0a0.dev1
fsspec==2024.6.1
h2==4.1.0
hypothesis==6.108.4
ipython==8.12.3
js==1.0
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.1
mtrand==0.1
mypy==1.11.0
numexpr==2.10.1
odfpy==1.4.1
openpyxl==3.1.5
pickle5>=0.0.11
protobuf==5.27.2
psutil==6.0.0
py==1.11.0
PyInstaller==6.9.0
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt4==4.11.4
PyQt5==5.15.11
pytest==8.3.1
python_calamine==0.2.3
pywin32==306
pyxlsb==1.0.10
PyYAML==6.0.1
PyYAML==6.0.1
qtpy==2.4.1
s3fs==2024.6.1
scikit_learn==1.5.1
scipy==1.14.0
sets==0.3.2
setuptools==71.1.0
simplejson==3.19.2
Sphinx==7.4.7
SQLAlchemy==2.0.31
tables==3.9.2
threadpoolctl==3.5.0
traitlets==5.14.3
typing_extensions==4.12.2
xarray==2024.6.0
xlrd==2.0.1
xlsxwriter==3.2.0
zstandard==0.23.0
